@charset "utf-8";

h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
}
h1{
    font-size: 3em !important;
}
h2{
    font-size: 2.5em !important;
}
h3{
    font-size: 2em !important;
}
h4{
    font-size: 1.8em !important;
}
h5{
    font-size: 1.5em !important;
}
h6{
    font-size: 1.4em !important;
}

.page-title{
    margin-top: 75px;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}
h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}
.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}
.collection .collection-item.avatar {
    padding-right: 30px;
}
.last-post {
    padding: 10px 0 15px;
}
.last-post .collection .collection-item.avatar>.date-post {
    position: absolute;
    width: 54px;
    height: 54px;
    overflow: hidden;
    left: 10px;
    display: inline-block;
    padding: 16px 0;
    vertical-align: middle;
    background: #ad1457;
    color: #fff;
    text-align: center;
}
.txt-center {
    text-align: center;
}
.post-header h1.post-title {
    color: #29b6f6;
    font-size: 2.8em;
    font-weight: 800;
}
.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}
p.rss-subscribe {
    margin: 0;
}

#sec1 {
    padding-top: 20% !important;
    display: flex;
    flex-direction: column;
    padding: 20px;
    //left: 5%;
    position: relative;
    width: max-content !important;
    margin-left: 5%;
}

#headerText{
    background: rgba(0,0,0,0.4);
    border-radius: 16px;
    width: max-content;
    height: max-content;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    max-width: 80vw;
}

main{
    width: 100%;
    top: 0 !important;
    padding: 0 !important;
}

.page-footer{
    bottom: 0 !important;
    width: 100%;
    //position: absolute;
}

.page-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

.sec-home{
    min-height: 100vh;
    width: 100%;
    padding: 0 !important;
    border-bottom: 3px solid green;
}



#index-banner{
    background: url(images/Seed_germination-min.jpg);
    background-size: cover;
    background-position: center;
}

.section-navigator{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    //margin-top: 25vh;
}
#about-us{
    background: url(images/P_20181110_120501_1_1-min.jpg);
    background-size: cover;
    background-position: center;
    .container{
        background: rgba(0, 0, 0, .5);
        float: right;
        padding: 20px;
        color: white;
    }
}

@media(max-width: 990px){
    #about-us{
        .container{
            float: none;
        width: 70%;
        padding: 20px;
        margin: auto;
        color: white;
        }
    }
        
}