---
layout: default
---

  <div class="section scrollspy sec-home no-pad-bot" id="index-banner">
    <img class="section-img" src="{{ site.url }}/assets/images/Seed_germination-min.jpg">
    <div class="container" id="sec1">
      <div id="headerText">
  
      <h3 class="header left orange-text" style="
      color: #fff !important;
  ">{{ site.title }}</h3>
  <h4 class="header left orange-text" style="
  color: #fff !important;
">{{ site.description }}</h4>
      
    </div>
    </div>
    <!-- <div class="section-navigator">
        <a href="#sec2" class="waves-effect waves-circle waves-light btn-floating secondary-content">
            <i class="material-icons">arrow_downward</i>
          </a>
    </div> -->
  </div>
  <!-- <div class="section scrollspy sec-home no-pad-bot" id="sec2">
      <img class="section-img" src="{{ site.url }}/assets/images/Seed_germination-min.jpg">
      <div class="container" id="sec1">
        <div id="headerText">
    
        <h3 class="header left orange-text" style="
        color: #fff !important;
    ">{{ site.title }}</h3>
    <h4 class="header left orange-text" style="
    color: #fff !important;
  ">{{ site.description }}</h4>
        
      </div>
      </div>
      <div class="section-navigator">
          <a href="#!" class="waves-effect waves-circle waves-light btn-floating secondary-content">
              <i class="material-icons">arrow_downward</i>
            </a> <a href="#index-banner" class="waves-effect waves-circle waves-light btn-floating secondary-content">
                <i class="material-icons">arrow_upward</i>
              </a>
      </div>
    </div> -->
  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h1>Who we are</h1>
        <p>LoCOS-Loving Care for the Oppressed Society, founded in 1998 by some concerned, dedicated and humanitarian social workers, development practitioners and benevolent local youths, has been working and contributing for a comprehensive and sustainable development for the underprivileged, marginalized and disaster-hit people of the Southwest Region of Bangladesh. This organization focuses and emphasizes on the activities that are conducive to reducing poverty; ensuring food security, health and education; building self-confidence of the community’s occupationally marginalized rural poor people by arranging technical support for income generating activities; establishing equal rights for men and women; raising issue based awareness; and guaranteeing sustainable agriculture through biodiversity conservation involving local community in the shape of non-profit, non-government and voluntary approach.</p>
      </div>

    </div>
      
    </div>
    <!-- <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Projects</h5>
        <ul class="collection">
           {% for post in site.categories.Project %}
            <li><span>{{ post.date | date_to_string }}</span> &nbsp; <a href="{{ post.url }}">{{ post.title }}</a></li>
           {% endfor %} =
        {% for post in site.categories.Ongoing %}
        <li class="collection-item avatar">
          
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 40 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div> -->

  </div>